
$elBackground: #282828;
$background: #121212;
$darkGrey: #fff;

$borderGrey: #DDDEDF;
$keylineGrey: #A0A1A5;

$primaryBlue: #293189;
$primaryBlueHover: #545AA1;

$cyan: #118CCF;
$cyanHover: #41A3D9;

$shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;

$radius: 0.5rem;